@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans";
}

.dashboard {
  background: #fff;
}
.dashboard__hero-section {
  background-color: #f9fffe;
  color: black;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.dashboard__hero-section .flexx {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dashboard__text {
  font-size: 14px;
  font-weight: 400;
  color: #6c6c70;
  letter-spacing: 0.02em;
  line-height: 20px;
}
.dashboard__title {
  font-size: 16px;
  color: #222222;
  font-weight: 500;
  line-height: 19px;
}
.dashboard__description {
  font-size: 12px;
  color: #6c6c70;
  line-height: 20px;
}
.dashboard__btn > button {
  all: unset;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: transparent;
  color: #19a6be;
  border: 1px solid #19a6be;
  word-wrap: nowrap;
}
.dashboard__cards {
  display: grid;
  gap: 1.5rem;
  margin: 1.5rem 1rem;
}
.dashboard .table-wrapper {
  margin: 1.5rem 1rem;
  padding: 0 1rem 1.5rem 1rem;
  background-color: #fcfdfd;
}
.dashboard .table-wrapper .table-header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.dashboard .table-wrapper .table-header p {
  letter-spacing: 0.02rem;
  color: #222222;
  font-size: 23px;
  font-weight: 500;
  align-self: flex-start;
}
.dashboard .table-wrapper .table-header button {
  all: unset;
  padding: 12px 20px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #19a6be;
}
.dashboard .table-wrapper .table {
  overflow-x: auto;
}
.dashboard .table-wrapper .table .null-table-data {
  display: grid;
  place-items: center;
  min-height: 350px;
}
.dashboard .table-wrapper .table .null-table-data > div {
  text-align: center;
}
.dashboard .table-wrapper .table .null-table-data > div p {
  margin: 1.5rem 0 0.5rem 0;
}
.dashboard .table-wrapper .table .null-table-data button {
  all: unset;
  padding: 12px 20px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #19a6be;
}
.dashboard .table-wrapper .table table {
  width: 768px;
  text-align: left;
  border-collapse: collapse;
}
.dashboard .table-wrapper .table table tr {
  border-bottom: 1px solid lightgray;
}
.dashboard .table-wrapper .table table th {
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #698681;
  white-space: nowrap;
  padding: 1rem 0;
}
.dashboard .table-wrapper .table table td {
  font-size: 14px;
  color: #698681;
  padding: 0.6rem 0;
}
.dashboard .table-wrapper .table table td button {
  font-size: 12px;
  all: unset;
  padding: 0.4rem 0.6rem;
  text-align: center;
  border-radius: 30%;
  letter-spacing: 0.05rem;
  background: #ecfdfa;
  border-radius: 16px;
}
.dashboard .table-wrapper .table table td button.pending {
  background-color: #FBECD6;
  color: #cb8720;
}
.dashboard .table-wrapper .table table td button.issue {
  background-color: #ecfdfa;
  color: #19a6be;
}
.dashboard .table-wrapper .table table td button.cancel {
  background-color: #fbd8d6;
  color: #cb2a20;
}
.dashboard .table-wrapper .table table .action {
  padding-right: 0.7rem;
}

@media screen and (min-width: 780px) {
  .dashboard__title {
    font-size: 23px;
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
  }
  .dashboard__description {
    font-size: 16px;
  }
  .dashboard__hero-section {
    width: 90%;
    margin: 0 auto 1rem auto;
  }
  .dashboard__hero-section .flexx {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .dashboard__cards {
    width: 90%;
    margin: 0 auto 1rem auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .dashboard .table-wrapper {
    width: 90%;
    margin: 0 auto 1rem auto;
  }
  .dashboard .table-wrapper .table-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .dashboard .table-wrapper .table-header p {
    align-self: center;
  }
  .dashboard .table-wrapper .table {
    width: 100%;
    margin: 0 auto 1rem auto;
  }
  .dashboard .table-wrapper .table table {
    width: 100% !important;
  }
}/*# sourceMappingURL=dashboard.style.css.map */