@import '../../Style/variables';

#terms{
    max-width: $containerWidth;
    text-align: left;
    padding: 3rem 4rem;
    line-height: 36px;
    a {color: unset; text-decoration: unset; &:hover{color: #19a68fc7;}}
    @media screen and (max-width: 768px) {
        padding: 3rem 44px;
    }
    @media screen and (max-width: 568px) {
        padding: 3rem 32px;
    }
    .header {
        text-align: center;
        h1 {
            color: #222222;
            font-size: 56px;
            margin: 0;
        }
        p {
            color: #6C6C70;
            font-size: 32px;
        }
        @media screen and (max-width: 768px) {
            h1 {
                font-size: 32px;
            }
            p {
                font-size: 20px;
                margin: 0;
            }
        }
    }
    .tableOfContent {
        margin-bottom: 40px;
        h2 {
            @media screen and (max-width: 768px) {
                font-size: 24px;
                margin-bottom: -10px;
                margin-top: 25px;
            }
        }
        ol{
            padding-left: 20px;
            li{
                color: $primaryColor;
                margin-bottom: 12px;
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 8px;                    
                @media screen and (max-width: 768px) {
                    margin-bottom: 10px;
                }
            }
        }        
    }
    .List {
        ol{
            padding-left: 20px;
            font-size: 24px;
            font-weight: bolder;
            li { 
                margin-bottom: 40px;
                @media screen and (max-width: 768px) {
                    margin-bottom: 20px;
                }            
            }
            ul {
                padding-left: 20px;
                padding-top: 20px;
                @media screen and (max-width: 768px) {
                    padding-top: 5px;
                }
                li{
                    color: $greyColor;
                    margin-bottom: 20px;
                    font-size: 18px;
                    margin-left: -25px;
                    font-weight: normal;
                    list-style-type: disc;
                    line-height: 36px;
                    @media screen and (max-width: 768px) {
                        line-height: 32px;
                        font-size: 16px;
                    }
                }
            }
            .noStyle{
                padding-left: 0;
                li {
                    list-style-type: none;
                    margin-left: -25px;
                    line-height: 36px
                }
            }
        }

    }
}