@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&family=Work+Sans:wght@400;500;700&display=swap');
@import "../../../Style/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: $containerWidth;
    color: #222222;
}

.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.work-sans {
    font-family: 'Work sans';
}

.sora {
    font-family: 'Sora';
}

.line-height {
    line-height: 24px;
}

.emphasized {
    color: #19A68E;
}

.text-left {
    text-align: left;
}

.items-center {
    align-items: center;
}

.center {
    width: 90%;
    margin: auto;
}

.bulk {
    background-color: rgba(178, 225, 217, 0.25);
}

.heading {
    padding: 64px 0 85px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
}

.space {
    gap: 120px;
}

.steps {
    padding: 0 0 15px 0; 
}

.bulk-button {
    font-weight: 500;
    width: 250px;
    height: 64px;
    background-color: #19A68E;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 59px 40% 48px 40%;
    cursor: pointer;
    text-align: center;
}

@media screen  and (max-width: 768px) and (min-width: 481px) {
    .heading{
        font-size: 32px;
    }
    .example {
        width: 46%;
        height: 21%;
    }
    .space{
        gap: 5%;
    }
    .process {
        display: flex;
        align-items: center;
        .steps {
            padding-left: 5%;
        }
        img {
            height: 100%;
        }
    }
    .bulk-button {
        margin: 60px 0 32px 0;
    }
}

@media screen  and (max-width: 480px) {
    .heading {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        padding-inline: 70px;
    }
    .wrap {
        flex-wrap: wrap;
    }
    .example {
        width: 90%;
        height: 80%;
        margin: auto;
    }
    .bulk {
        .space {
            gap: 24px;
        }
        div {
            div {
                width: 90%;
                margin: auto;
            }
        }
    }
    .process {
        display: flex;
        align-items: center;
        .steps {
            padding-left: 5%;
        }
        img {
            height: 100%;
        }
    }
    .bulk-button {
        margin: 40px 0 24px 0;
        width: 80%;
    }
}