@import url("https://fonts.googleapis.com/css2?family=Sora:wght@600&family=Work+Sans:wght@400;500&display=swap");
#footerId {
  padding-top: 3.5rem;
  background-color: #08372f;
  text-align: start;
  color: white;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.05em;
}
#footerId h3,
#footerId h2 {
  color: white;
  margin: 0;
  line-height: 152.3%;
}
#footerId h2 {
  font-family: "Sora", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
#footerId h3 {
  font-size: 13px;
  font-weight: 400;
}
#footerId .footer-container {
  width: 90%;
  margin: 0 auto;
}
#footerId .footer-lists {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.8rem;
  gap: 5%;
}
#footerId .footer-lists .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#footerId .footer-lists .list h2 {
  text-transform: capitalize;
  margin-bottom: 5px;
  font-weight: 600;
}
#footerId .footer-lists .link {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
}
#footerId .footer-form {
  margin-bottom: 50px;
}
#footerId .footer-form h3 {
  text-align: center;
  margin-bottom: 20px;
}
#footerId .footer-form .footer-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#footerId .footer-form .footer-input input {
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 13px;
  font-weight: 400;
}
#footerId .footer-form .footer-input button {
  padding: 15px;
  color: white;
  background-color: #19a68e;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}
#footerId .footer-form .footer-input button:hover {
  background-color: #127867;
}
#footerId .footer-form .error-msg {
  text-align: center;
  letter-spacing: 1.5px;
  color: rgb(140, 11, 11);
  background-color: rgb(230, 103, 103);
  border-radius: 5px;
  margin-bottom: 0;
}
#footerId .footer-info {
  margin-bottom: 40px;
}
#footerId .footer-info .footer-logo {
  margin-bottom: 28.5px;
}
#footerId .footer-info .footer-logo h2 {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
#footerId .footer-info .footer-logo h2 img {
  width: 23px;
}
#footerId .footer-info .footer-socials {
  display: flex;
  gap: 2rem;
  align-items: center;
}
#footerId .footer-info .footer-socials div {
  display: flex;
  gap: 1rem;
}
#footerId .footer-info .footer-socials .social {
  font-size: 20px;
}
#footerId .footer-copyright {
  padding-bottom: 25px;
  text-align: center;
}
#footerId .footer-copyright .headlight-text {
  color: #cab3e1;
}
@media only screen and (min-width: 768px) {
  #footerId h2 {
    font-size: 19px;
  }
  #footerId h3 {
    font-size: 1rem;
  }
  #footerId .footer-lists .list {
    gap: 1rem;
  }
  #footerId .footer-lists .link {
    font-size: 1rem;
  }
  #footerId .footer-form h3 {
    text-align: start;
  }
  #footerId .footer-form .footer-input {
    flex-direction: row;
    gap: 20px;
  }
  #footerId .footer-form .footer-input input {
    flex: 2;
  }
  #footerId .footer-form .footer-input button {
    flex: 1;
    max-width: 240px;
  }
  #footerId .footer-form .error-msg {
    max-width: 63%;
  }
  #footerId .footer-info {
    margin-bottom: 48px;
    display: flex;
    gap: 50px;
  }
  #footerId .footer-info .footer-logo {
    margin-bottom: 0;
  }
  #footerId .footer-info .footer-logo h2 {
    font-size: 27px;
  }
  #footerId .footer-info .footer-logo h2 img {
    width: 44px;
    padding-bottom: 2px;
  }
  #footerId .footer-info .footer-socials {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    margin-top: 5px;
  }
  #footerId .footer-info .footer-socials .social {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1023px) {
  #footerId .footer-flex {
    display: flex;
    gap: 6%;
  }
  #footerId .footer-lists {
    width: 48%;
  }
  #footerId .footer-form {
    width: 46%;
  }
  #footerId .footer-form .footer-input button {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    padding: 15px 20px;
    height: 70px;
  }
}/*# sourceMappingURL=footer.style.css.map */