@import "../../Style/variables";

// BUTTON CONTAINER FOR THE TOGGLE BUTTONS

#singlePreview{
.button-container button {
  margin: 35px 10px;
  height: 37px;
  width: 150px;
  border-radius: 10px;
  font-family: "Work Sans", sans-serif;

  &.not-active {
    background: transparent;
    border: 1px solid $primaryGreenColor;

    &:hover {
      color: #fff;
      background: $primaryGreenColor;
      border: none;
      transition: 500ms ease-in-out;
    }
  }

  &.active {
    background: $primaryGreenColor;
    color: #fff;
    border: none;

    &:hover {
      color: $primaryGreenColor;
      background: #fff;
      border: 1px solid $primaryGreenColor;
      transition: 500ms ease-in-out;
    }
  }
}

.certificate h1 {
  font-size: 30px;
  font-weight: 500;
  margin: 5px 0px 30px 0px;
}

.certificate button {
  margin: 35px 20px 45px 20px;
  border-radius: 5px;
  color: $primaryGreenColor;
  width: 140px;
  height: 35px;
  font-size: 12px;

  &.download-button {
    background: transparent;
    border: 1px solid $primaryGreenColor;
    color: $primaryGreenColor;
    &:hover {
      color: #fff;
      background: $primaryGreenColor;
      border: none;
      transition: 500ms ease-in-out;
    }
  }

  &.send-button {
    background: $primaryGreenColor;
    color: #fff;
    border: none;

    &:hover {
      color: $primaryGreenColor;
      background: #fff;
      border: 1px solid $primaryGreenColor;
      transition: 500ms ease-in-out;
    }
  }
}

.explore-button {
  width: 170px;
  padding: 10px;
  border-radius: 8px;
  background: transparent;
  border: 1px solid $primaryGreenColor;
  font-family: "Work Sans", sans-serif;

  &:hover {
    color: #fff;
    background: $primaryGreenColor;
    border: none;
    transition: 500ms ease-in-out;
  }
}

// CERTIFICATE IMAGES

.certificate img {
  width: 100%;
  height: auto;
  max-width: 400px;
}

.single-images {
  display: flex;
  flex-direction: column;
  align-items: center;

  &.single-images img {
    margin: 15px;
    width: 80%;

    height: auto;
  }
}

@media screen and (min-width: 768px) {
  // CERTIFICATE IMAGES

  .certificate img {
    width: 100%;
    height: auto;
    max-width: 600px;
  }

  .single-images {
    flex-direction: row;
    justify-content: center;
  }
  .single-images img {
    width: 100%;
    max-width: 200px;
  }
}

@media screen and (min-width: 1000px) {
  .single-images img {
    max-width: 300px;
  }
}
}